    <hr/>
    <ul class="comments">
        {% for comment in comments %}
        <li class="comment {% if comment.answer %}grey{% endif %}">
            <div class="row">
                {% if comment.answer %}<span class="check"><i class="fa fa-3x fa-check"></i></span>{% endif %}
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                {% if comment.body_html %}
                {{ comment.body_html | safe }}
                {% else %}
                {{ comment.body }}
                {% endif %}
                {% endif %}
            </div>
            <br>
            <div class="row labels">

                {% if current_user == comment.author %}
                <a href="{{ url_for('.edit_comment', id=comment.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_comment', id=comment.id) }}">
                <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                {% if not comment.answer %}
                {% if current_user == comment.post.author or current_user.is_administrator() %}
                <a href="{{ url_for('.select_answer', id=comment.id) }}">
                    <span class="label label-warning">Select as Answer</span>
                </a>
                {% endif %}
                {% endif %}
                {% if moderate %}
                <br>
                {% if comment.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                {% endif %}
                {% endif %}
                <span class="small text-muted pull-right">{{ moment(comment.timestamp).fromNow() }}</span>
                <span class="pull-right"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></span>

            </div>
        </li>
        <hr/>
        {% endfor %}
    </ul>