{% extends 'base.html' %}
{% block title %}Sured - Help{% endblock %}
{% block content %}
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<form class="inline-form" role="search">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<div class="input-group-btn" style="margin-top: -10px;"><button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>[Sured] Help</h1>
				<hr/>
				<h2>How to use [sured] the question answer platform</h2>
				<p>The idea behind [sured] is simple</p>
				<ol>
					<li>Anybody can ask a question.</li>
					<li>Anyone can answer.</li>
					<li>You must be logged in to either post a question or an answer</li>
					<li>When the user who asks a question is satisfied with a certain answer they select it as the answer.</li>
					<li>We encourage, religously for that matter, for users to stick to topics in professional industries and customer service.</li>
					<li>Common sense in the use of language is adviced; we feel we shouldn't have to tell you to uphold high levels of professionalism and ethics. But then again, by saying this we've just done that.</li>
					<li>The site has moderators who review content and may ban any content felt to be unethical, offensive or irrelevant to the sites purpose.</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="content-section-a">
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>
{% endblock %}