{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Sured - post{% endblock %}
{% block content %}
<div class="content-section-b">
	<div class="container top">
		<div class="row top">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						{% include '_posts.html' %}
					</div>
				</div>
				<h4 id="Answers">Answers</h4>
				{% include '_comments.html' %}
				{% if current_user.can(Permission.COMMENT) %}
				<div class="col-md-8">
					{{ wtf.quick_form(form) }}
				</div>
				{% endif %}
				{% if pagination %}
				<div class="pagination">
					{{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}