{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block header %}
<header id="home-area">
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
				<div class="home-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
					<h1>[Sured]</h1>
					<p>With us getting insured becomes convienient</p>
					 <form class="inline-form" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn" style="margin-top: -10px;"><button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
                            </div>
                        </div>
                    </form>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="home-feature pull-right center-block wow bounceIn" data-wow-duration="1s" data-wow-delay="1s">
				</div>
			</div>

		</div>
	</div>
</header>
{% endblock %}
{% block content %}
{% if 1 == 2 %}
<div class="question-section">
    <div class="container">
    	<div class="row">
    		<div class="col-md-6 col-md-offset-3">
    			
				{{ wtf.quick_form(form) }}
			</div>
    	</div>
    </div>
</div>
{% endif %}
<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#All">All</a></li>
						<li role="presentation"><a href="#Featured">Featured</a></li>
						<li role="presentation"><a href="#Hot">Hot</a></li>
						<li role="presentation"><a href="#Week">Week</a></li>
						<li role="presentation"><a href="#Month">Month</a></li>
						<li role="presentation"><a href="#Ask" class="btn btn-danger">Ask Your Question</a></li>	    
					</ul>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<br><br>
				{% include '_questions.html' %}
				<div class="pagination">
				{{ macros.pagination_widget(pagination, '.index') }}
				</div>
			</div>
		</div>
	</div>
    <!-- /.container -->
</div>
<div class="content-section-a">
	<div class="container">
	{{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}
